<div class="header">
  <div class="container">
    <h1>Bookmarks</h1>
  </div>
</div>
<div class="main">
  <div class="container">
    <div class="book">
      <p class="title"> <%=@book.title%>  </p>
      <p class="author"><%=@book.author%>   </p>
      <p class="publisher">( <%=@book.publisher%> )</p>
      <p class="description"> <%=@book.description%> </p>
    </div>
    <div class="reviews">
      <% @reviews.each do |review| %>
        <div class="review">
          <p class="author">  <%=review.author%></p>
          <p class="comment"> <%=review.comment%> </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
